#customerContainer{
    padding-left: 0;
    padding-right: 0;
}
#customerContainer>#header-top{
    width: 100vw;
    height: 18vh;
    border-bottom: 0px solid;
}
#customerContainer>#header-top>.d-flex>div:nth-child(1)>#logo-image{
    height: 125px;
    padding-left: 20px;
    border-right: 2.5px solid #F0CB9E;
}
#customerContainer>#header-top #header-text #main-topic h1{
    font-family: 'Ledger', serif;
    position: relative;
    padding-left: 22px;
    margin-top: 27px;
    font-size: 1.65em;
}
#customerContainer>#header-top #header-text #second-topic h2{
    color: #BD8F31;
    font-size: 1em;
    font-family: 'Lemonada', cursive;
    font-weight: bold;
    padding-left: 87px;
}
#customerContainer>#header-top #label img{
    padding-left: 198px;
    margin-top: 21px;
    height: 85px;
}
#customerContainer>#header-top #label>label{
    color: #BD8F31;
    font-size: 1.4em;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    top: 5px;
}
#customerContainer  #content-area{
    width: 100vw;
    height: 82vh;
}
/*====================navigation links=====================*/
#customerContainer #content-area #Customernav-links{
    margin-top: 53px;
    width: 177px;
    margin-left: 20px;
}
#customerContainer #content-area #Customernav-links>#Home2 #homeIcon2,#customerContainer #content-area #Customernav-links>#Customers2 #customerIcon2, #customerContainer #content-area #Customernav-links>#Items2 #itemIcon2,#customerContainer #content-area #Customernav-links>#Invoices2 #orderIcon2{
    position: relative;
}
#customerContainer #content-area #Customernav-links>#Home2 #homeIcon2, #customerContainer #content-area #Customernav-links>#Customers2 #customerIcon2, #customerContainer #content-area #Customernav-links>#Items2 #itemIcon2, #customerContainer #content-area #Customernav-links>#Logout2 #logoutIcon2 {
    left: 4px;
}
#customerContainer #content-area #Customernav-links>#Invoices2 #Customertext4,#customerContainer #content-area #Customernav-links>#Items2 #Customertext3,#customerContainer #content-area #Customernav-links>#Customers2 #Customertext2, #customerContainer #content-area #Customernav-links>#Home2 #Customertext1, #customerContainer #content-area #Customernav-links>#Logout2 #Customertext5{
    text-align: end;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    color: #572C24;
    font-family: revert;
}
#customerContainer #content-area #Customernav-links>#Home2 #Customertext1 {
    width: 78%;
}
#customerContainer #content-area #Customernav-links>#Customers2 #Customertext2 {
    font-weight: bold;
}
#customerContainer #content-area #Customernav-links>#Items2 #Customertext3{
    width: 70%;
}
#customerContainer #content-area #Customernav-links>#Invoices2 #Customertext4{
    width: 84%;
}
#customerContainer #content-area #Customernav-links>#Home2,#customerContainer #content-area #Customernav-links>#Customers2,#customerContainer #content-area #Customernav-links>#Items2,#customerContainer #content-area #Customernav-links>#Invoices2{
    height: 85px;
}

#customerContainer #content-area #Customernav-links>#Logout2{
    width: 145px;
    margin-left: 30px;
    height: 95px;
    margin-top: 20px;
}
#customerContainer #content-area #Customernav-links>#Logout2>.container-fluid{
    border: 5px solid #F0CB9E;
    border-radius: 10px;
    height: 52px;
}
#customerContainer #content-area #Customernav-links>#Logout2 #Customertext5{
    padding-top: 2px;
}
/*==============table area===============*/
#customerContainer #content-area .table{
    border: 1px solid #A65444;
    margin: 0px 10px 0px 22px;
}
#customerContainer #content-area .table>thead{
    background-color: #874848;
    border-color: #A65444;
    text-align: center;
}
#customerContainer #content-area .table #tblCustomer{
    font-size: 1em;
    font-family: 'Inter', sans-serif;
}
/*===============update area===================*/
#customerContainer #content-area #update-area{
    width: 870px;
    height: 78vh;
    background: #D9D9D9;
    border-radius: 45px;
}
#customerContainer #content-area #update-area>.d-flex{
    height: 100%;
}
#customerContainer #content-area #update-area>.d-flex>div:nth-child(1){
    border-bottom: 1px solid #A65444;
    height: 17%;
}
#customerContainer #content-area #update-area>.d-flex>div:nth-child(1) #btnViewAll{
    margin-left: -69px;
    margin-top: 15px;
    height: 45px;
    width: 93px;
    border: 3px solid #F0CB9E;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    background-color: white;
}
#customerContainer #content-area #update-area>.d-flex>div:nth-child(1) #btnNewCustomer{
    border: 2px solid #6E382D;
    height: 50px;
    text-align: center;
    margin-top: 14px;
    position: relative;
    left: 75px;
    background-color: white;
}
#customerContainer #content-area #update-area>.d-flex>div:nth-child(1) .img-fluid{
    margin-top: 10px;
    height: 53px;
}
#customerContainer #content-area #update-area>.d-flex >div:nth-child(2){
    height: 15%;
}
#customerContainer #content-area #update-area>.d-flex >div:nth-child(2) .form-control{
    width: 271px;
    height: 50px;
    margin-right: 53px;
    border: 2px solid #F0CB9E;
    border-radius: 10px;
    font-size: 1.2em;
    background-color: #F6F0F0;
}
#customerContainer #content-area #update-area>.d-flex >div:nth-child(2) #btnSearch{
    height: 45px;
    width: 93px;
    border: 3px solid #F0CB9E;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    margin-top: 5px;
    background-color: white;
}
#customerContainer #content-area #update-area >.d-flex>div:nth-child(3){
    height: 67%;
    margin: 0px 30px 0px 30px;
}

#customerContainer #content-area #update-area >.d-flex>div:nth-child(3) form{
    background-color: #FDF9F9;
    height: 100%;
    border-radius: 20px;
}
#customerContainer #content-area #update-area >.d-flex>div:nth-child(3) form label{
    padding-left: 40px;
    padding-top: 30px;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
}
#customerContainer #content-area #update-area >.d-flex>div:nth-child(3) form #btnUpdateCustomer{
    border: 2px solid #6E382D;
    height: 45px;
    text-align: center;
    position: relative;
    left: 91px;
    bottom: 9px;
    background-color: white;
}
#customerContainer #content-area #update-area >.d-flex>div:nth-child(3) form div>div{
    padding-left: 60px;
    margin-top: 25px;
}
#customerContainer #content-area #update-area >.d-flex>div:nth-child(3) form div>div>input{
    width: 90%;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
}

/*====================model view =================================*/
#customerContainer #content-area #update-area #staticBackdrop .modal-body #AddCustomerForm{
    height: 265px;
    width: 100%;
}
#customerContainer #content-area #update-area #staticBackdrop .modal-body #AddCustomerForm .f1{
    height: 45px;
    margin-bottom: 20px;
}
#customerContainer #content-area #update-area #staticBackdrop .modal-body #AddCustomerForm .f1 input{
    height: 100%;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    border: 1px solid #6E382D;
}

