header{
    position: relative;
    background-color: #ffffff;
    border: 1.5px solid gray;
    height: 50px;
    box-shadow: 0px 2px 0px 2px rgba(57, 51, 51, 0.91);
}
header>img{
    position: relative;
    height: 30px;
    width: 155px;
    top: 10px;
    left: 12px;
}
header>nav {
    position: absolute;
    bottom: -13px;
    right: 20px;
}

header>nav>ul>li {
    display: inline-block;   /*to display as a row*/
    padding: 10px;
    color: #535151;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
aside{
    background-color: #4C0082;
    height:300px;
    width: 120px;
}
aside>ul{
    display:contents;
    font-size: 16px;
    color: #f3efef;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    top: 5px;
}