header{
    position: relative;
    background-color: #ffffff;
    border: 1.5px solid gray;
    height: 50px;
    box-shadow: 0px 2px 0px 2px rgba(57, 51, 51, 0.91);
}
header>img{
    position: relative;
    height: 30px;
    width: 155px;
    top: 10px;
    left: 12px;
}
header>nav {
    position: absolute;
    bottom: -13px;
    right: 20px;
}

header>nav>ul>li {
    display: inline-block;   /*to display as a row*/
    padding: 10px;
    color: #535151;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
header>nav>ul>li:hover{
    cursor: pointer;
    color: #4C0082;
}
body{
    position:relative;
}
aside{
    background-color: #4C0082;
    height:98%;
    width: 19%;
    position: absolute;
}
aside>ul{
    position: absolute;
    left: -12px;
    top: 15px;
}
aside>ul>li{
    display:block;
    font-size: 16px;
    color: #f3efef;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding-bottom: 19px;
}
aside>ul>li:hover{
    cursor: pointer;
}
main{
    top: 4px;
    position: relative;
}

/*
main>section>section{
    width: 20%;
    height: 20%;
    position: relative;
    left: 256px;
}
main>section>section:first-child{

}*/
main>section>section>img{
    position: relative;
    display: inline-block;
    top: 5px;
    left: 10px;
    /*height: 200px;*/
    width: 350px;
    border: 1px solid black;
}
main>section>section{
    position: relative;
    border: 1px solid greenyellow;
}
main>section>article>p{
    position: relative;
    width: 80vw;
    left: 20vw;
    bottom: 20px;
}
footer{
    background-color: #808080;
    height: 45px;
    position: absolute;
    bottom: 0px;
    width: 100%
}
h4{
    position: relative;
    top: -5px;
    color: white;
    text-align: center
}
