
main{
    width: 100vw;
    background-color: #EEEEEE;

}
main #Case-02,  main #Case-03,  main #Case-04, main #Case-05{
    width: 100%;
    height: 310px;
    /* border: 1px solid red;*/
    position: relative;
    display: flex;
}
/*main #Case-02 .border{
    width: 40%;
    height: 100%;
    background-color: red;
}*/
main #Case-02 .image-area{
    height: 100%;
    width: 40%;
    /*  border:1px solid black;*/
    background: url("../images/assignment/case_2.png");
    background-size: cover;
    background-position: center;
}
main #Case-02 .content-area{
    height: 100%;
    width: 60%;
    /*  border: 1px solid blue;*/
    display: flex;
    flex-direction: column;
}
main #Case-02 .content-area .content-1{
    /*  border: 1px solid black;*/
    font-family: 'Alfa Slab One', cursive;
    height: 15%;
    font-size: 1.5em;
}
main #Case-02 .content-area .content-1>p{
    margin: 10px 0px 10px 0px;
    padding-left: 155px;
}
main #Case-02 .content-area .content-2{
    /* border: 1px solid black;*/
    font-family: 'Red Hat Display', sans-serif;
    height: 12%;
    font-size: 1.2em;
}
main #Case-02 .content-area .content-2>p{
    margin: 0px 0px 8px 0px;
    padding-left: 100px;
}
main #Case-02 .content-area .content-3{
    border:1px solid black;
    font-family: 'Noto Sans Display', sans-serif;
    color: #808080;
}
main #Case-02 .content-area .content-4{
    border:1px solid black;
}
main #Case-02 .content-area .content-4 #github{
    width: 30px;
    height: 30px;
    left: 200px;
    position: relative;
}
main #Case-02 .content-area .content-4 #web{
    width: 28px;
    height: 28px;
    left: 210px;
    position: relative;
}