*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*full Assignment page*/
main>section:nth-child(7){
    position: relative;
    width: 100%;
    min-height: 80vh;
    height: 100vh;
   /* border: 1px solid red;*/
}
/*topic area for Activity*/
#assignment-page>section:first-child{
    position: relative;
    width: 100%;
    min-height: 13vh;
}
/*blue color two side borders*/
#assignment-page>section:first-child>div:first-child,#assignment-page>section:first-child>div:nth-child(2){
    top: 14px;
    position: absolute;
    width: 41%;
    height: 15px;
    background-color: #1F2234;
}
#assignment-page>section:first-child>div:first-child{
    left: 0;
}
#assignment-page>section:first-child>div:nth-child(2){
    right: 0;
}

/*"Assignments"*/
#assignment-page>section:first-child>h3{
    text-align: center;
    font-size: 2em;
}
/*"Let's see my Progress In Detail"*/
#assignment-page>section:first-child>h6{
    position: absolute;
    left: 41.5%;
    top: 42px;
    font-size: 0.91em;
    font-family: 'Merriweather', serif;
    color: rgba(0, 0, 0, 0.7);
}
/*horizontal line*/
#assignment-page>section:first-child>div:nth-child(5){
    position: absolute;
    height: 3%;
    width: 14%;
    background-color: #c4c4c4;
    top: 86%;
    left: 43%;
}
/*orange color box*/
#assignment-page>section:first-child>div:nth-child(6){
    position: absolute;
    height: 7px;
    width: 87px;
    background-color: #fd9d3c;
    top: 84%;
    left: 46.5%;
}

/*===================================*/

/*assignment content area*/
#assignment-page>section:nth-child(2){
    position: relative;
    top: -87px;
    height: 74%;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: sans-serif;
}

.container{
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    position: relative;
    margin: 60px 0;
    width: 250px;
    height: 350px;
    background: #ffffff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0,0,0,0.5);
}

.card:hover{
    z-index: 1000;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0,0.5);
}
.card>.image-box{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.card:hover>.image-box{
    transform: rotateY(-120deg);
}

.card>.image-box>img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container>.card> .image-box>img{
    width: 250px;
    height: 350px;
}
.card .details{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}

/*===================================*/
#assignment-page .view-more{
    top: -87px;
    position: relative;
   /* border: 1px solid red;*/
    height: 8vh;
}
#assignment-page .view-more>div:first-child{
    position: absolute;
    width: 11%;
    height: 65%;
    background-color: #323545;
    opacity: 0.75;
    border-radius: 10px;
}
#assignment-page .view-more>div:nth-child(2){
    position: absolute;
    right: 44px;
    width: 11%;
    height: 65%;
    background-color: #323545;
    opacity: 0.75;
    color: #FF9F43;
    font-size: 1.5em;
    padding-left: 23px;
    border-radius: 10px;
}

/*media Queries*/

/* mobile small - 0-320px */
@media all and (max-width: 320px){

}
/* mobile medium - [320px-375px] */
@media all and (min-width: 320px) and (max-width: 375px){

}
/* mobile large -  [375px-425px] */
@media all and (min-width: 375px) and (max-width: 425px){

}
/* tablet - [425px-768px] */
@media all and (min-width: 425px) and (max-width: 768px){

}
/* laptop - [768px-1024px] */
@media all and (min-width: 768px) and (max-width: 1024px){

}
/* laptop Large - [1024px-1440px] */
@media all and (min-width: 1024px) and (max-width: 1440px){

}
