*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*full contact page*/
#contact-Page{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   /* border: 1px solid red;*/
}
/*topic area for contact*/
#contact-Page>.topic-area{
    border: 1px solid green;
}

/*==================================*/

/*Address area*/
#address-area {
    /* border: 1px solid green; */
    width: 90.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
    border-radius: 30px;
    box-shadow: 4px 6px 4px 1px #1f2234;
    margin-top: 62px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,245,247,1) 11%, rgba(231,231,236,1) 21%, rgba(217,217,221,1) 32%, rgba(180,180,185,1) 49%, rgba(31,34,52,1) 100%);
}
/*==================================*/

/*social links area*/
#contact-Page #address-area> .link-area{
    position: relative;
    width: 10%;
    height: 75%;
}
#contact-Page #address-area>.link-area>#large\ circle{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 3px solid #F76F2E;
    background-color: #1F2234;
}
#contact-Page #address-area> .link-area #small-circle{
    position: absolute;
    left: 23px;
    width: 60%;
    height: 100%;
    border-radius: 100%;
    background-color: #E7AD75;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contact-Page #address-area .social-links>img{
    width: 30px;
    margin-bottom: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
}

/*==================================*/

/*point wise address area - contact-info*/
#contact-Page #address-area .contact-info{
   /* border: 1px solid yellow;*/
    /*width: 25%;*/
    width: 28%;
    height: 75%;
    display: flex;
    flex-direction: column;
}
.contact-info .box{
    position: relative;
    /*padding: 14px 0;*/
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 37px;
    display: flex;
}
.contact-info .box .icon{
    padding-left: 10px;
    min-width: 60px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info .box .icon> img{
    position: relative;
    bottom: 13px;
    width: 38px;
    height: 38px;
}
.contact-info .box .text{
    display: flex;
    margin-left: 20px;
    color: black;
    flex-direction: column;
}
.contact-info .box .text h3{
    font-size: 1.094em;
}
.contact-info .box .text p{
    font-family: 'Merriweather', serif;
    font-size: 0.72em;
    padding-top: 8px;
}

/*==================================*/

/*contact Form area*/
#contact-Page #address-area section{
  /*  border: 1px solid yellow;*/
    height: 80%;
    width: 43%;
    max-width: 600px;
}
#contact-Page #address-area section>form {
    margin-top: 60px;
}
.input-group{
   /* padding: 0px 27px;*/
    padding-left: 30px;
    margin-bottom: 25px;
    position: relative;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    color: #1F2234;
    font-size: 15px;
    border-radius: 12px;
    background-color: #D9D9D9;
    border: none;
    font-weight: bold;
}
label{
    position: absolute;
    width: 90%;
    left: 40px;
    top: 0px;
    color: black;
    cursor: text;
    padding: 10px;
    transition: all 0.2s ease 0s;
    font-family:'Merriweather', serif;
    font-size: 14px;
    opacity: 0.6;
}
#contact-Page #address-area>section:nth-child(3)>form>button{
    position: relative;
    left: 170px;
    width: 31%;
    padding: 10px;
    background-color: #1F2234;
    color: white;
    border-radius: 25px;
    height: 9%;
    border-color: #1F2234;
    box-shadow: 4px 3px 3px 2px lightgrey;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    cursor: pointer;
}
input:focus~label,input:valid~label,
textarea:focus~label,textarea:valid~label{
    top: -30px;
   color: #FF9F43;
    opacity: 1;
}
/*==================================*/

/*on the blog area*/
#contact-Page #address-area>div:nth-child(4){
    height: 75%;
    width: 12%;
    font-family:'Merriweather', serif;
    display: flex;
    flex-direction: column;
   /* border: 1px solid red;*/
}
#contact-Page #address-area>div .blog-links{
    position: relative;
    list-style: none;
    text-align: left;
    padding-left: 65px;
    padding-top: 34px;
    font-size: 0.8em;
}
#contact-Page #address-area>div .blog-links>li {
    padding-bottom: 20px;
}
#contact-Page #address-area>div:nth-child(4)>h4{
    text-align: center;
    padding-left: 27px;
    font-size: 0.91em;
}
#contact-Page #address-area>div .blog-links>li:hover{
    cursor: pointer;
    color: #FF9F43;
    opacity: 1;
    font-weight: bold;
}
/*phone call icon*/
#contact-Page #address-area>div:nth-child(5)>img{
    position: fixed;
    bottom: 72px;
    left: 1140px;
    width: 85px;
    height: 85px;
}