*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*full education page*/
main>section:nth-child(3){
    position: relative;
    width: 100%;
    min-height: 80vh;
  /*  height: 130vh;*/
    height: 150vh;
   /* border: 1px solid green;*/
}
/*topic area for education*/
#education-page>section:first-child{
    /*border: 1px solid blue;*/
    position: relative;
    width: 100%;
    min-height: 13vh;
}
/*blue color two side borders*/
#education-page>section:first-child>div:first-child,#education-page>section:first-child>div:nth-child(2){
    top: 14px;
    position: absolute;
    width: 41%;
    height: 15px;
    background-color: #1F2234;
}
#education-page>section:first-child>div:first-child{
    left: 0;
}
#education-page>section:first-child>div:nth-child(2){
    right: 0;
}
/*"Education"*/
#education-page>section:first-child>h3{
    text-align: center;
    font-size: 2em;
}
/*"Let's see my Journey"*/
#education-page>section:first-child>h6{
    position: absolute;
    left: 44.5%;
    top: 42px;
    font-size: 0.91em;
    font-family: 'Merriweather', serif;
    color: rgba(0, 0, 0, 0.7);
}
/*horizontal line*/
#education-page>section:first-child>div:nth-child(5){
    position: absolute;
    height: 3%;
    width: 14%;
    background-color: #c4c4c4;
    top: 86%;
    left: 43%;
}
/*orange color box*/
#education-page>section:first-child>div:nth-child(6){
    position: absolute;
    height: 7px;
    width: 87px;
    background-color: #fd9d3c;
    top: 84%;
    left: 46.5%;
}

/*===================================*/

/*Education Details area*/
main>section:nth-child(3)>section:nth-child(2){
   /* border: 1px solid red;*/
    position: relative;
    background-color: #1F2234;
    display: flex;
    flex-direction: column;
    height: 87%;
    margin-top: 20px;
}
/*full container*/
#education-page>section:nth-child(2)>.education-container{
    /*position: absolute;*/
    position: relative;
  /*  border: 1px solid white;*/
  /*  margin: 30px;*/
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    width: 30%;
    height: 25%;
}
#education-page>section:nth-child(2)>.education-container>.education-content{
   /* border: 4px solid white;*/
    box-shadow: 3px 4px 5px 2px #979292;
    height: 82%;
}
#education-page>section:nth-child(2)>.education-container>.education-content:hover{
    border: 1px solid #FF9F43;
    box-shadow: 3px 4px 5px 2px #FF9F43;
}
#education-page>section:nth-child(2)>.education-container>.education-content:hover h3{
    color: #F76F2E;
}
/*image-year box area*/
#education-page>section:nth-child(2)>.education-container>.image-year{
   /* border: 1px solid red;*/
    color: #FF9F43;
    font-weight: bold;
  /*  height: 35%;*/
    height: 40%;
    display: flex;
    justify-content: space-between;
}
/*institute images*/
#education-page>section:nth-child(2)>.education-container>.image-year>.img{
    width: 70px;
    background: white;
    border-radius: 100%;
}
/*years*/
#education-page>section:nth-child(2)>.education-container>.image-year>.year{
    padding-top: 38px;
}
/*content area*/
#education-page>section:nth-child(2)>.education-container>.education-content>h3{
   /* color: #ebe8e8;*/
    color: #F76F2E;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
    margin-top: 20px;
}

#education-page>section:nth-child(2)>.education-container>.education-content>p{
    color: #b7b3b3;
    font-size: 1.094em;
}
/*topics*/
#education-page>section:nth-child(2)>.education-container>.education-content>p:nth-child(2){
    margin-top: 25px;
    padding-left: 24px;
}
/*sub topics*/
#education-page>section:nth-child(2)>.education-container>.education-content>p:nth-child(3){
    margin-top: 10px;
    padding-left: 60px
}

/*first container - Higher education*/
#education-page>section:nth-child(2)>div:nth-child(1){
    margin: 15px 20px;
}
/*second container - External education*/
#education-page>section:nth-child(2)>div:nth-child(2){
    /*left: 18%;*/
    left: 14%;
    width: 38%;
    margin-bottom: 15px;
}
/*third container - secondary education*/
#education-page>section:nth-child(2)>div:nth-child(3){
    /*left: 40%;*/
    left: 46%;
    margin-bottom: 15px;
}
/*fourth container - primary education*/
#education-page>section:nth-child(2)>div:nth-child(4){
    left: 61%;
    width: 35%;
    margin-bottom: 40px;
}