/*All header area*/
body>header{
    position: fixed;
    z-index: 2;
    background-color: #1F2234;
    width: 100vw;
    height: 62px;
    top: 0;
    box-shadow: 0px -1px 10px 3px rgba(10, 10, 10, 0.91);
}
/*"RR" logo in left side of header area*/
/*header>img:first-child{*/
header>img:nth-child(2){
   /* position: relative;*/
    position: absolute;
    height: 64px;
    border-radius: 20%;
    /*margin-top: 10px;*/
    margin-top: -67px;
    padding-left: 25px;

   /* background-color: #011C49;*/
}
/*header>img:nth-child(2){*/
header>img:nth-child(3){
   /* display: none;*/
    visibility: hidden;
}
/*right side navigation panel*/
body>header>nav{
    position: absolute;
    right: 60px;
    top: 20px;
}
/*each nav links in navigation panel*/
body>header>nav>ul>li{
    display: inline-block;
    color: #d2cdcd;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 18px;
    padding-left: 17px;
}
body>header>nav>ul>li>a{
    text-decoration: none;
    color: #d2cdcd;
}
/*add effects and transitions when hover the links*/
header>nav>ul>li:hover{
    cursor: pointer;
    color: #FF9F43;
    font-size: 24px;
    border-bottom: 2px solid #FF9F43;
    transition-property: font-size,border-bottom-color;
    transition-duration: 0s;
}


/*media Queries*/

    /* mobile small - 0-320px */
@media all and (max-width: 320px){
    body>header{
        height: 69px;
    }
    body>header>nav {
        display: none;
    }
    /*header>img:first-child{*/
    header>img:nth-child(2){
        height: 38px;
        margin-top: 16px;
        padding-left: 19px;
    }
   /* header>img:nth-child(2){*/
    header>img:nth-child(3){
        visibility: visible;
        position: relative;
        bottom: 3px;
        left: 158px;
        width: 28px;
        height: 28px;
        opacity: 0.9;
    }
}

    /* mobile medium - [320px-375px] */
@media all and (min-width: 320px) and (max-width: 375px){

}
    /* mobile large -  [375px-425px] */
@media all and (min-width: 375px) and (max-width: 425px){

}
    /* tablet - [425px-768px] */
@media all and (min-width: 425px) and (max-width: 768px){

}
    /* laptop - [768px-1024px] */
@media all and (min-width: 768px) and (max-width: 1024px){

}
    /* laptop Large - [1024px-1440px] */
@media all and (min-width: 1024px) and (max-width: 1440px){

}




