*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    position: relative;
    width: 98.7vw;;
    margin-top: 62px;
    /*border: 1px solid green;*/
}
/*full home page area*/
main>section:first-child{
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: #1F2234;
    /*border: 1px solid red;*/
}
/*own profile*/
main>section:first-child>aside{
    position: absolute;
    width: 25%;
    height: 74%;
    top: 68px;
    right: 198px;
    border: 5px solid #504f5e;
    box-shadow: 1px 1px 3px 3px #9999a9;
    border-radius: 100%;
    background: url("../images/myProfile.jpg");
    background-position: center;
    background-size: cover;
}

/*left side content Area*/
main>section:first-child>section{
    position: absolute;
    top: 30px;
    left: 75px;
    width: 50%;
    height: 90%;
   /* border: 2px solid green;*/
}
/*Article area*/
main>section:first-child>section>article{
    height: 437px;
    padding-top: 36px;
}
/*Welcome*/
main>section:first-child>section>article>pre:nth-child(1){
    color: white;
    font-size: 1.6rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    padding-left: 28%;
}
/*i am Rashmiya Rafeek*/
main>section:first-child>section>article>pre:nth-child(2){
    color: #F04A1E;
    font-size: 3.7rem;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Kaushan Script', cursive;
}
/*FrontEnd*/
main>section:first-child>section>article>pre:nth-child(3){
    color: white;
    font-size: 2.3rem;
    font-family: 'PT Serif', Serif;
    font-weight: bold;
    padding-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Developer*/
main>section:first-child>section>article>pre:nth-child(4){
    color: white;
    font-size: 2.3rem;
    font-family: 'PT Serif', Serif;
    font-weight: bold;
    padding-left: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Italic style*/
main>section:first-child>section>article>h5{
    color: #c8c3c3;
    font-size: 1.92rem;
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    padding-left: 5%;
    margin-top: 10px;
    margin-bottom: 40px;
}
/*"hire me" button*/
main>section:first-child>section>article>button{
    width: 20%;
    height: 10%;
    font-family: 'Oxygen', sans-serif;
    font-weight: lighter;
    color: #d9d5d5;
  /*  background-color:#1F2234 ;*/
    background-color: transparent;
    border: 3.5px solid #FF9F43;
    border-radius: 21px;
    margin-left: 185px;
}
main>section:first-child>section>article>button:hover{
    border: 3.5px solid #F04A1E;
}
/*social media link area*/
main>section:first-child>section>nav{
    position: absolute;
    width: 86%;
    bottom: 2%;
    left: 5%;
}
/*each link by separately*/
main>section:first-child>section>nav>img:nth-child(1), main>section:first-child>section>nav>img:nth-child(2), main>section:first-child>section>nav>img:nth-child(3), main>section:first-child>section>nav>img:nth-child(4), main>section:first-child>section>nav>img:nth-child(5), main>section:first-child>section>nav>img:nth-child(6){
    height: 38px;
    width: 38px;
    margin-right: 30px;
}
main>section:first-child>section>nav>img:nth-child(1):hover, main>section:first-child>section>nav>img:nth-child(2):hover, main>section:first-child>section>nav>img:nth-child(3):hover, main>section:first-child>section>nav>img:nth-child(4):hover, main>section:first-child>section>nav>img:nth-child(5):hover, main>section:first-child>section>nav>img:nth-child(6):hover{
    cursor: pointer;
    border:  3.75px solid #F04A1E;
    border-radius: 100%;
}





/*media Queries*/

/* mobile small - 0-320px */
@media all and (max-width: 320px) {
    /*home page*/
    main > section:first-child {
        width: 102%;
    }

    main > section:first-child > section {
        left: 15px;
        width: 92%;
    }

    main > section:first-child > section > article {
        height: 387px;
        padding-top: 15px;
    }

    main > section:first-child > section > article > pre:nth-child(1) {
        font-size: 1.1rem;
    }

    main > section:first-child > section > article > pre:nth-child(2) {
        font-size: 1.95rem;
        margin-top: 15px;
    }

    main > section:first-child > section > article > pre:nth-child(3) {
        font-size: 1.4rem;
        padding-left: 20px;
        margin-top: 16px;
        margin-bottom: 6px;
    }

    main > section:first-child > section > article > pre:nth-child(4) {
        font-size: 1.3rem;
        padding-left: 90px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    main > section:first-child > aside {
        width: 35%;
        height: 36%;
        top: 144px;
        right: 20px;
    }

    main > section:first-child > section > article > button {
        position: absolute;
        top: 227px;
        right: 150px;
        width: 33%;
        height: 8%;
    }

    main > section:first-child > section > nav {
        bottom: 16%;
        left: 5%;
        width: 100%;
    }

    main > section:first-child > section > nav > img:nth-child(1), main > section:first-child > section > nav > img:nth-child(2), main > section:first-child > section > nav > img:nth-child(3), main > section:first-child > section > nav > img:nth-child(4), main > section:first-child > section > nav > img:nth-child(5), main > section:first-child > section > nav > img:nth-child(6) {
        height: 32px;
        width: 32px;
        margin-right: 10px;
    }

    main > section:first-child > section > article > h5 {
        font-size: 1.27rem;
        position: absolute;
        bottom: 22px;
        left: -3px;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}





/* mobile medium - [320px-375px] */
@media all and (min-width: 320px) and (max-width: 375px){

}
/* mobile large -  [375px-425px] */
@media all and (min-width: 375px) and (max-width: 425px){

}
/* tablet - [425px-768px] */
@media all and (min-width: 425px) and (max-width: 768px){

}
/* laptop - [768px-1024px] */
@media all and (min-width: 768px) and (max-width: 1024px){

}
/* laptop Large - [1024px-1440px] */
@media all and (min-width: 1024px) and (max-width: 1440px){

}
