*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    position: relative;
    width: 98.7vw;;
    margin-top: 62px;
    /*border: 1px solid green;*/
}
/*full home page area*/
main>section:first-child{
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: #1F2234;
    /*border: 1px solid red;*/
}
/*own profile*/
main>section:first-child>aside{
    position: absolute;
    width: 40%;
    height: 85%;
    top: 30px;
    right: 50px;
    /*border: 2px solid red;*/
}
/*left side content Area*/
main>section:first-child>section{
    position: absolute;
    top: 30px;
    left: 75px;
    width: 50%;
    height: 90%;
    /*border: 2px solid green;*/
}
/*Article area*/
main>section:first-child>section>article{
    height: 437px;
    padding-top: 36px;
}
/*Welcome*/
main>section:first-child>section>article>pre:nth-child(1){
    color: white;
    font-size: 1.6rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    padding-left: 28%;
}
/*i am Rashmiya Rafeek*/
main>section:first-child>section>article>pre:nth-child(2){
    color: #F04A1E;
    font-size: 3.7rem;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Kaushan Script', cursive;
}
/*FrontEnd*/
main>section:first-child>section>article>pre:nth-child(3){
    color: white;
    font-size: 2.3rem;
    font-family: 'PT Serif', Serif;
    font-weight: bold;
    padding-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Developer*/
main>section:first-child>section>article>pre:nth-child(4){
    color: white;
    font-size: 2.3rem;
    font-family: 'PT Serif', Serif;
    font-weight: bold;
    padding-left: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Italic style*/
main>section:first-child>section>article>h5{
    color: #c8c3c3;
    font-size: 1.92rem;
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    padding-left: 5%;
    margin-top: 10px;
    margin-bottom: 40px;
}
/*"hire me" button*/
main>section:first-child>section>article>button{
    width: 20%;
    height: 10%;
    font-family: 'Oxygen', sans-serif;
    font-weight: lighter;
    color: #d9d5d5;
    background-color:#1F2234 ;
    border: 3.5px solid #FF9F43;
    border-radius: 21px;
    margin-left: 185px;
}
/*social media link area*/
main>section:first-child>section>nav{
    position: absolute;
    width: 86%;
    bottom: 2%;
    left: 5%;
}
/*each link by separately*/
main>section:first-child>section>nav>img:nth-child(1), main>section:first-child>section>nav>img:nth-child(2), main>section:first-child>section>nav>img:nth-child(3), main>section:first-child>section>nav>img:nth-child(4), main>section:first-child>section>nav>img:nth-child(5), main>section:first-child>section>nav>img:nth-child(6){
    height: 38px;
    width: 38px;
    margin-right: 30px;
}
main>section:first-child>section>nav>img:nth-child(1):hover, main>section:first-child>section>nav>img:nth-child(2):hover, main>section:first-child>section>nav>img:nth-child(3):hover, main>section:first-child>section>nav>img:nth-child(4):hover, main>section:first-child>section>nav>img:nth-child(5):hover, main>section:first-child>section>nav>img:nth-child(6):hover{
    cursor: pointer;
    border:  3.75px solid #F04A1E;
    border-radius: 100%;
}
