main{
    position: relative;
    width: 98.7vw;;
    margin-top: 62px;
    /*border: 1px solid green;*/
}
/*full home page area*/
main>section:first-child{
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: #1F2234;
    /*border: 1px solid red;*/
}
/*own profile*/
main>section:first-child>aside{
    position: absolute;
    width: 40%;
    height: 85%;
    top: 30px;
    right: 50px;
    /*border: 2px solid red;*/
}
/*left side content Area*/
main>section:first-child>section{
    position: absolute;
    top: 30px;
    left: 75px;
    width: 50%;
    height: 90%;
    /*border: 2px solid green;*/
}
/*Article area*/
main>section:first-child>section>article{
    height: 408px;
    /*border: 2px solid white;*/
}
/*Welcome*/
main>section:first-child>section>article>pre:nth-child(1){
    color: white;
    font-size: 1.6rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    padding-left: 28%;
}
/*i am Rashmiya Rafeek*/
main>section:first-child>section>article>pre:nth-child(2){
    color: #F04A1E;
    font-size: 3.7rem;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Kaushan Script', cursive;
}
/*FrontEnd*/
main>section:first-child>section>article>pre:nth-child(3){
    color: white;
    font-size: 2.3rem;
    font-family: 'PT Serif', Serif;
    font-weight: bold;
    padding-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Developer*/
main>section:first-child>section>article>pre:nth-child(4){
    color: white;
    font-size: 2.3rem;
    font-family: 'PT Serif', Serif;
    font-weight: bold;
    padding-left: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Italic style*/
main>section:first-child>section>article>h5{
    color: #c8c3c3;
    font-size: 1.92rem;
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    padding-left: 5%;
    margin-top: 10px;
    margin-bottom: 40px;
}
/*"hire me" button*/
main>section:first-child>section>article>button{
    width: 20%;
    height: 10%;
    font-family: 'Oxygen', sans-serif;
    font-weight: lighter;
    color: #d9d5d5;
    background-color:#1F2234 ;
    border: 3.5px solid #FF9F43;
    border-radius: 21px;
    margin-left: 185px;
}
/*social media link area*/
main>section:first-child>section>nav{
    position: absolute;
    width: 86%;
    bottom: 2%;
    left: 5%;
}
/*each link by separately*/
main>section:first-child>section>nav>img:nth-child(1), main>section:first-child>section>nav>img:nth-child(2), main>section:first-child>section>nav>img:nth-child(3), main>section:first-child>section>nav>img:nth-child(4), main>section:first-child>section>nav>img:nth-child(5), main>section:first-child>section>nav>img:nth-child(6){
    height: 38px;
    width: 38px;
    margin-right: 30px;
}
main>section:first-child>section>nav>img:nth-child(1):hover, main>section:first-child>section>nav>img:nth-child(2):hover, main>section:first-child>section>nav>img:nth-child(3):hover, main>section:first-child>section>nav>img:nth-child(4):hover, main>section:first-child>section>nav>img:nth-child(5):hover, main>section:first-child>section>nav>img:nth-child(6):hover{
    cursor: pointer;
    border:  3.75px solid #F04A1E;
    border-radius: 100%;
}
/*========================= Home Page END ========================*/

/*full About me area*/
main>section:nth-child(2){
    position: relative;
    width: 100%;
    height: 100vh;
   /* border: 1px solid blue;*/
    background-color: white;
}
/*topic area for "About me"*/
main>section:nth-child(2)>section:first-child{
    position: relative;
    height: 15%;
   /* border: 1px solid red;*/
}
/*"About me"*/
body>main>section:nth-child(2)>section:first-child>h3{
    position: absolute;
    margin-top: 8px;
    left: 45%;
    font-size: 1.85rem;
    font-family: 'Lato', sans-serif;
    color: black;
    margin-bottom: 0;
}
/*blue color two side borders*/
body>main>section:nth-child(2)>section:first-child>div:first-child,body>main>section:nth-child(2)>section:first-child>div:nth-child(2){
    top: 20px;
    position: absolute;
    width: 41%;
    height: 17%;
    background-color: #1F2234;
}
body>main>section:nth-child(2)>section:first-child>div:first-child{
    left: 0;
}
body>main>section:nth-child(2)>section:first-child>div:nth-child(2){
    right: 0;
}
/*"Why choose me?"*/
body>main>section:nth-child(2)>section:first-child>h6{
    position: absolute;
    left: 45%;
    top: 15px;
    font-size: 0.92rem;
    font-family: 'Merriweather', serif;
    color: rgba(0, 0, 0, 0.7);
}
/*horizontal line*/
body>main>section:nth-child(2)>section:first-child>div:nth-child(5){
    position: absolute;
    height: 3%;
    width: 14%;
    background-color: #c4c4c4;
    top: 88%;
    left: 43%;
}
/*orange color box*/
body>main>section:nth-child(2)>section:first-child>div:nth-child(6){
    position: absolute;
    height: 8.5%;
    width: 7%;
    background-color: #fd9d3c;
    top: 86%;
    left: 46.5%;
}

/*contact Area*/
main>section:nth-child(2)>section:nth-child(2){
    position: relative;
    top: 7%;
    left: 14%;
    height: 80%;
    width: 70%;
    border-radius: 40px;
    box-shadow: 3px 4px 4px 1px #1f2234;
    border: 2px solid black;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,245,247,1) 11%, rgba(231,231,236,1) 21%, rgba(217,217,221,1) 32%, rgba(180,180,185,1) 49%, rgba(31,34,52,1) 100%);
}
/*left side point details*/
main>section:nth-child(2)>section:nth-child(2)>aside{
   /* border: 1px solid red;*/
    position: absolute;
    top: 10%;
    left: 4%;
    width: 40%;
    height: 80%;
}
/*point wise details*/
main>section:nth-child(2)>section:nth-child(2)>aside>pre{
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
}
/*gray color box areas*/
main>section:nth-child(2)>section:nth-child(2)>aside>div:first-child,main>section:nth-child(2)>section:nth-child(2)>aside>div:nth-child(3){
    position: relative;
    width: 100%;
    height: 4%;
    background-color: black;
}
/*get each box areas seperatly*/
main>section:nth-child(2)>section:nth-child(2)>aside>div:first-child{
    top: 0;
    background: #D9D9D9;
}
main>section:nth-child(2)>section:nth-child(2)>aside>div:nth-child(2){
    position: absolute;
    background: black;
    color: red;
    right: 0;
    width: 4%;
    top: 0;
    bottom: 0;
    background: #D9D9D9;
}
main>section:nth-child(2)>section:nth-child(2)>aside>div:nth-child(3){
    top: 92%;
    background: #D9D9D9;
}
/*right side short description about my self*/
main>section:nth-child(2)>section:nth-child(2)>article{
    position: absolute;
   /* border: 1px solid white;*/
    top: 10%;
    left: 45%;
    width: 52%;
    height: 80%;
    font-family: 'Lato', sans-serif;
}
/*each paragraph*/
main>section:nth-child(2)>section:nth-child(2)>article>p:first-child{
    padding-left: 50px;
    padding-top: 30px;
}
main>section:nth-child(2)>section:nth-child(2)>article>p:nth-child(2),main>section:nth-child(2)>section:nth-child(2)>article>p:nth-child(3), main>section:nth-child(2)>section:nth-child(2)>article>p:nth-child(4){
    padding-left: 50px;
    padding-right: 10px;
}
/*"Download CV" Button*/
main>section:nth-child(2)>section:nth-child(2)>article>button{
    height: 10%;
    position: relative;
    top: 30px;
    left: 37%;
    width: 36%;
    border-radius: 25px;
    border-color: #1F2234;
    background-color: #1F2234;
    color: white;
    font-family: 'Lato';
    font-size: 1.1rem;
    box-shadow: 4px 3px 3px 3px lightgrey;
}
/*=======================About Me END ===========================*/

/*full Education area*/
main>section:nth-child(3){
    position: relative;
    width: 100%;
    height: 90vh;
   /* border: 1px solid red;*/
}
/*topic area for Education*/
main>section:nth-child(3)>section:first-child{
    position: absolute;
    width: 100%;
    height: 15%;
    margin-top: 10px;
   /* border: 2px solid blue;*/
}
/*"Education"*/
main>section:nth-child(3)>section:first-child>h3{
    position: absolute;
    left: 45%;
    font-size: 1.85rem;
    font-family: 'Lato', sans-serif;
    color: black;
    margin-bottom: 0;
}
/*blue color two side borders*/
body>main>section:nth-child(3)>section:first-child>div:first-child,body>main>section:nth-child(3)>section:first-child>div:nth-child(2){
    top: 40px;
    position: absolute;
    width: 41%;
    height: 17%;
    background-color: #1F2234;
}
body>main>section:nth-child(3)>section:first-child>div:first-child{
    left: 0;
}
body>main>section:nth-child(3)>section:first-child>div:nth-child(2){
    right: 0;
}
/*horizontal line*/
body>main>section:nth-child(3)>section:first-child>div:nth-child(4){
    position: absolute;
    height: 3%;
    width: 14%;
    background-color: #c4c4c4;
    top: 88%;
    left: 43%;
}
/*orange color box*/
body>main>section:nth-child(3)>section:first-child>div:nth-child(5){
    position: absolute;
    height: 8.5%;
    width: 7%;
    background-color: #fd9d3c;
    top: 85%;
    left: 46.5%;
}

/*Education Details area*/
body>main>section:nth-child(3)>section:nth-child(2){
   /* border: 2px solid purple;*/
    position: absolute;
    top: 15%;
    width: 100%;
    height: 150%;
    background-color: #1F2234;
    margin-top: 30px;
}
/*Higher Education*/
body>main>section:nth-child(3)>section:nth-child(2)>div:nth-child(1){
    border: 6px solid #FF9F43;
    position: absolute;
    top: 10%;
    left: 60%;
    width: 27%;
    color: white;
}
/*External Education*/
body>main>section:nth-child(3)>section:nth-child(2)>div:nth-child(2){
    border: 6px solid #FF9F43;
    position: absolute;
    top: 34%;
    width: 27%;
    left: 10%;
    color: white;
}
/*Secondary Education*/
body>main>section:nth-child(3)>section:nth-child(2)>div:nth-child(3){
    border: 6px solid #FF9F43;
    position: absolute;
    width: 27%;
    top: 58%;
    left: 60%;
    color: white;
}
/*primary Education*/
body>main>section:nth-child(3)>section:nth-child(2)>div:nth-child(4){
    border: 6px solid #FF9F43;
    position: absolute;
    top: 80%;
    width: 27%;
    left: 10%;
    color: white;
}

main>section:nth-child(3)>section:nth-child(2)>div h3{
    padding-left: 30%;
}

/*2021*/
/*2020*/
/*2018*/
/*2015*/
/*small circles near in the content */
body>main>section:nth-child(3)>section:nth-child(2)>section{
    left: 38%;
    top: 19%;
   /* border: 1px solid yellow;*/
    position: absolute;
    width: 22%;
    height: 70%;
}
main>section:nth-child(3)>section:nth-child(2) h5{
    color: #FF9F43;
}
body>main>section:nth-child(3)>section:nth-child(2)>section>div:first-child{
    position: relative;
    width: 5%;
    background: white;
    height: 3%;
    border-radius: 100%;
    left: 95%;
}
body>main>section:nth-child(3)>section:nth-child(2)>section>div:nth-child(2){
    position: relative;
    width: 5%;
    background: white;
    height: 3%;
    border-radius: 100%;
    top: 32%;
}
body>main>section:nth-child(3)>section:nth-child(2)>section>div:nth-child(3){
    position: relative;
    width: 5%;
    background: white;
    height: 3%;
    border-radius: 100%;
    top: 60%;
    left: 95%;
}
body>main>section:nth-child(3)>section:nth-child(2)>section>div:nth-child(4){
    position: relative;
    width: 5%;
    background: white;
    height: 3%;
    border-radius: 100%;
    top: 88%;
}
body>main>section:nth-child(3)>section:nth-child(2)>section>div:nth-child(5){
    position: relative;
    width: 5%;
    background: white;
    height: 3%;
    border-radius: 100%;
    top: -12%;
    left: 50%;
}
body>main>section:nth-child(3)>section:nth-child(2)>section>div:nth-child(6){
    position: relative;
    width: 5%;
    background: white;
    height: 3%;
    border-radius: 100%;
    left: 50%;
    top: 20%;
}
body>main>section:nth-child(3)>section:nth-child(2)>section>div:nth-child(7){
    position: relative;
    width: 5%;
    background: white;
    height: 3%;
    border-radius: 100%;
    left: 50%;
    top: 48%;
}
body>main>section:nth-child(3)>section:nth-child(2)>section>div:nth-child(8){
    position: relative;
    width: 5%;
    background: white;
    height: 3%;
    border-radius: 100%;
    left: 50%;
    top: 76%;
}
/*horizontal line*/
body>main>section:nth-child(3)>section:nth-child(2)>section>div:nth-child(9){
    position: relative;
    width: 45%;
    height: 1.4%;
    background: white;
    left: 52%;
    top: -23.5%;
}
body>main>section:nth-child(3)>section:nth-child(2)>section>div:nth-child(10){
    position: relative;
    width: 47%;
    height: 1.4%;
    background: white;
    left: 4%;
    top: 10.5%;
}
body>main>section:nth-child(3)>section:nth-child(2)>section>div:nth-child(11){
    position: relative;
    width: 45%;
    height: 1.4%;
    background: white;
    left: 52%;
    top: 40%;
}
body>main>section:nth-child(3)>section:nth-child(2)>section>div:nth-child(12){
    position: relative;
    width: 48%;
    height: 1.4%;
    background: white;
    left: 4%;
    top: 69.8%;
}
/*main vertical line*/
body>main>section:nth-child(3)>section:nth-child(2)>section>div:nth-child(13){
    position: relative;
    height: 130%;
    background: white;
    top: -47%;
    bottom: 0;
    width: 2.6%;
    left: 50%;
}
/*main circle*/
body>main>section:nth-child(3)>section:nth-child(2)>div:nth-child(6){
    background: white;
    width: 1.5%;
    height: 2.5%;
    border-radius: 100%;
    margin-left: 48.65%;
    margin-top: 3%;
}
/*=======================Education END ===========================*/


/*full Skills area*/
main>section:nth-child(4){
    position: relative;
    width: 100%;
    height: 110vh;
    border: 1px solid red;
    top: 390px;
}
/*topic area for "skills"*/
main>section:nth-child(4)>section:first-child{
   /* border: 2px solid blue;*/
    top: 25px;
    position: absolute;
    width: 100%;
    height: 12%;
    /*margin-top: 10px;*/
}/*blue color two sides borders*/
body>main>section:nth-child(4)>section:first-child>div:first-child,body>main>section:nth-child(4)>section:first-child>div:nth-child(2){
    position: absolute;
    width: 41%;
    height: 17%;
    background-color: #1F2234;
}
body>main>section:nth-child(4)>section:first-child>div:first-child{
    left: 0;
}
body>main>section:nth-child(4)>section:first-child>div:nth-child(2){
    right: 0;
}
/*"Skills"*/
main>section:nth-child(4)>section:first-child>h3{
    position: absolute;
    margin-top: -10px;
    left: 47.2%;
    font-size: 1.85rem;
    font-family: 'Lato', sans-serif;
    color: black;
    margin-bottom: 0;
}
/*"Let's take a short"*/
body>main>section:nth-child(4)>section:first-child>h6{
    position: absolute;
    left: 45%;
    /*top: 15px;*/
    font-size: 0.92rem;
    font-family: 'Merriweather', serif;
    color: rgba(0, 0, 0, 0.7);
}
/*horizontal line*/
body>main>section:nth-child(4)>section:first-child>div:nth-child(5){
    position: absolute;
    height: 3%;
    width: 14%;
    background-color: #c4c4c4;
    top: 83%;
    left: 43%;
}
/*orange color box*/
body>main>section:nth-child(4)>section:first-child>div:nth-child(6){
    position: absolute;
    height: 8.5%;
    width: 8%;
    background-color: #fd9d3c;
    top: 81%;
    left: 46%;
}
/*for image area*/
main>section:nth-child(4)>section:nth-child(2){
   /* border: 2px solid red;*/
}

/*=======================Skills END ===========================*/
/*full projects area*/
main>section:nth-child(5){
    position: relative;
    width: 100%;
    height: 90vh;
    border: 1px solid hotpink;
}
/*full services area*/
main>section:nth-child(6){
    position: relative;
    width: 100%;
    height: 90vh;
    border: 1px solid indigo;
}
/*full Assignments area*/
main>section:nth-child(7){
    position: relative;
    width: 100%;
    height: 90vh;
    border: 1px solid red;
}
/*full Activities area*/
main>section:nth-child(8){
    position: relative;
    width: 100%;
    height: 90vh;
    border: 1px solid black;
}