*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*full Services page*/
main>section:nth-child(6){
    position: relative;
    width: 100%;
    min-height: 80vh;
    height: 120vh;
  /*  border: 1px solid green;*/
}
/*topic area for services*/
main>section:nth-child(6)>section:first-child{
   /*  border: 1px solid blue;*/
    position: relative;
    width: 100%;
    min-height: 13vh;
}
/*blue color two side borders*/
#service-page>section:first-child>div:first-child,#service-page>section:first-child>div:nth-child(2){
    top: 14px;
    position: absolute;
    width: 41%;
    height: 15px;
    background-color: #1F2234;
}
#service-page>section:first-child>div:first-child{
    left: 0;
}
#service-page>section:first-child>div:nth-child(2){
    right: 0;
}
/*"Services"*/
#service-page>section:first-child>h3{
    text-align: center;
    font-size: 2em;
}
/*"What I can provide for my clients"*/
#service-page>section:first-child>h6{
    position: absolute;
    left: 41.5%;
    top: 42px;
    font-size: 0.91em;
    font-family: 'Merriweather', serif;
    color: rgba(0, 0, 0, 0.7);
}
/*horizontal line*/
#service-page>section:first-child>div:nth-child(5){
    position: absolute;
    height: 3%;
    width: 14%;
    background-color: #c4c4c4;
    top: 86%;
    left: 43%;
}
/*orange color box*/
#service-page>section:first-child>div:nth-child(6){
    position: absolute;
    height: 7px;
    width: 87px;
    background-color: #fd9d3c;
    top: 84%;
    left: 46.5%;
}

/*===================================*/

/*icon areas for services*/
#service-page>section:nth-child(2){
    position: relative;
    top: 13px;
    height: 84%;
    margin: 0;
    padding: 0;
    background-color: #1F2234;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid orange;
    animation: dot-animation 5s linear infinite
}
@Keyframes dot-animation {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(0deg);
        /*filter: hue-rotate(360deg);*/
    }
}
/*main circle*/
#service-page>section:nth-child(2)>.circle-area{
    /*width: 200px;
    height: 200px;*/
    /* margin-left: 20px;*/
    width: 190px;
    height: 190px;
    background-color: #323545;
    border-radius: 100%;
  /*  border: 1px solid white;*/
    box-shadow: 4px 6px 4px 2px #0c0d12;
}

/*=================for animation ==============*/
#service-page>section:nth-child(2)>main:first-child{
    position: relative;
    width: 190px;
    height: 190px;
}
#service-page>section:nth-child(2)>main:first-child>span{
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));*/
    position: absolute;
    top: 14px;
    left: 15px;
    width: 85%;
    height: 85%;
    transform: rotate(calc(18deg * var(--i)));
}
#service-page>section:nth-child(2)>main:first-child>span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FF9F43;
    box-shadow: 0 0 10px #FF9F43,
    0 0 20px #FF9F43,
    0 0 40px #FF9F43,
    0 0 60px #FF9F43,
    0 0 80px #FF9F43,
    0 0 100px #FF9F43;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

/*=============animation end======================*/


#service-page>section:nth-child(2)>main:nth-child(2){
    align-self: self-end;
    margin-bottom: 80px;
}
#service-page>section:nth-child(2)>main:nth-child(4){
    align-self: self-end;
    margin-bottom: 80px;
}
#service-page>section:nth-child(2)>main:nth-child(6){
    align-self: self-end;
    margin-bottom: 80px;
}
/*each text area*/
#service-page>section:nth-child(2)> .circle-area>pre{
    color: #e1dfdf;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    position: absolute;
}
#service-page>section:nth-child(2)>main:nth-child(1)>pre{
    top: 130px;
  /*  left: 18px;*/
    left: 23px;
}
#service-page>section:nth-child(2)>main:nth-child(2)>pre:nth-child(2){
   /* top: 130px;
    left: 24px;*/
    top: 125px;
    left: 33px;
}
#service-page>section:nth-child(2)>main:nth-child(2)>pre:nth-child(3){
    /*top: 155px;
    left: 46px;*/
    top: 149px;
    left: 42px;
}
#service-page>section:nth-child(2)>main:nth-child(3)>pre:nth-child(2){
   /* top: 130px;
    left: 24px;*/
    top: 127px;
    left: 62px;
}
#service-page>section:nth-child(2)>main:nth-child(3)>pre:nth-child(3){
   /* top: 155px;
    left: 46px;*/
    top: 149px;
    left: 44px;
}
#service-page>section:nth-child(2)>main:nth-child(4)>pre:nth-child(2){
   /* top: 130px;
    left: 60px;*/
    top: 125px;
    left: 60px;
}
#service-page>section:nth-child(2)>main:nth-child(4)>pre:nth-child(3){
    /*top: 155px;
    left: 40px;*/
    top: 149px;
    left: 45px;
}
#service-page>section:nth-child(2)>main:nth-child(5)>pre{
    top: 135px;
    left: 38px;
}
#service-page>section:nth-child(2)>main:nth-child(6)>pre:nth-child(2){
    top: 130px;
    left: 42px;
}
#service-page>section:nth-child(2)>main:nth-child(6)>pre:nth-child(3){
    top: 155px;
    left: 66px;
}

/*each icon area*/
#service-page>section:nth-child(2)> .circle-area> .icon{
    /*border: 1px solid orange;*/
    width: 40%;
    height: 35%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: auto;
}
#service-page>section:nth-child(2)>main:nth-child(1)>div{
    background: url("../images/services/web Application.png");
    background-size: cover;
    background-position: center;
}
#service-page>section:nth-child(2)>main:nth-child(2)>div{
    background: url("../images/services/icons8-mobile-app-58 (1).png");
    background-size: cover;
    background-position: center;
}
#service-page>section:nth-child(2)>main:nth-child(3)>div{
    background: url("../images/services/sw development.png");
    background-size: cover;
    background-position: center;
}

#service-page>section:nth-child(2)>main:nth-child(4)>div{
    background: url("../images/services/network.png");
    background-size: cover;
    background-position: center;
}
#service-page>section:nth-child(2)>main:nth-child(5)>div{
    background: url("../images/services/UI design.png");
    background-size: cover;
    background-position: center;
}
#service-page>section:nth-child(2)>main:nth-child(6)>div{
    background: url("../images/services/data security 2.png");
    background-size: cover;
    background-position: center;
}