*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*full skills page*/
main>section:nth-child(4){
    position: relative;
    width: 100%;
    min-height: 80vh;
    height: 120vh;
  /*  border: 1px solid green;*/
}
/*topic area for skills*/
main>section:nth-child(4)>section:first-child{
    /*border: 1px solid blue;*/
    position: relative;
    width: 100%;
    min-height: 13vh;
}
/*blue color two side borders*/
#skills-page>section:first-child>div:first-child,#skills-page>section:first-child>div:nth-child(2){
    top: 14px;
    position: absolute;
    width: 41%;
    height: 15px;
    background-color: #1F2234;
}
#skills-page>section:first-child>div:first-child{
    left: 0;
}
#skills-page>section:first-child>div:nth-child(2){
    right: 0;
}
/*"Skills"*/
#skills-page>section:first-child>h3{
    text-align: center;
    font-size: 2em;
}
/*"Let's take a short"*/
#skills-page>section:first-child>h6{
    position: absolute;
    left: 45%;
    top: 42px;
    font-size: 0.91em;
    font-family: 'Merriweather', serif;
    color: rgba(0, 0, 0, 0.7);
}
/*horizontal line*/
#skills-page>section:first-child>div:nth-child(5){
    position: absolute;
    height: 3%;
    width: 14%;
    background-color: #c4c4c4;
    top: 86%;
    left: 43%;
}
/*orange color box*/
#skills-page>section:first-child>div:nth-child(6){
    position: absolute;
    height: 7px;
    width: 87px;
    background-color: #fd9d3c;
    top: 84%;
    left: 46.5%;
}

/*===================================*/

/*content area for each skill icons*/
#skills-page>section:nth-child(2){
   /* border: 1px solid red;*/
    height: 60%;
    display: flex;
    justify-content: space-around;
    position: relative;
}
#skills-page>section:nth-child(2)>.container{
    width: 20%;
    position: relative;
    margin-top: 67px;
    height: 82%;
    border-radius: 0px 80px 0px 80px;
    display: flex;
    flex-direction: column;
    border: 3px solid #F04A1E;
    box-shadow: -7px -5px 4px 5px #ff9f43;
}
/*#skills-page>section:nth-child(2)>div:nth-child(1){
    border: 1px solid orange;
}
#skills-page>section:nth-child(2)>div:nth-child(2){
    border: 1px solid black;
}
#skills-page>section:nth-child(2)>div:nth-child(3){
    border: 1px solid blue;
}*/

/*content area for each container*/
#skills-page>section:nth-child(2)>.container>.header{
    border-bottom: 4px solid black;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
/* font-family: 'Lato', sans-serif;*/
}
#skills-page>section:nth-child(2)>.container>.text-area {
   /* border: 1px solid purple;*/
    width: 100%;
    position: relative;
    top: -26px;
    text-align: center;
    font-size: 1.05em;
    font-family: 'Lato', sans-serif;
}
#skills-page>section:nth-child(2)>.container>.text-area >ul{
    list-style: none;
    height: 170px;
}
#skills-page>section:nth-child(2)>.container>.text-area >ul>li{
    padding-bottom: 17px;
}

/*================================*/
main>section:nth-child(4)>div:nth-child(3){
    height: 27%;
   /* border: 1px solid black;*/
    position: relative;
}




/*media Queries*/

/* mobile small - 0-320px */
@media all and (max-width: 320px){
    main>section:nth-child(4) {
        margin-top: 60px;
        width: 102%;
        height: 330vh;
    }
    main>section:nth-child(4)>section:first-child {
        min-height: 17vh;
        background: #D9D9D9;
    }
    #skills-page>section:first-child>div:first-child, #skills-page>section:first-child>div:nth-child(2) {
        width: 28%;
        height: 10px;
    }
    #skills-page>section:first-child>h3 {
        font-size: 1.7em;
    }
    #skills-page>section:first-child>h6 {
        left: 33%;
        font-size: 0.8em;
        top: 37px;
    }
    #skills-page>section:first-child>div:nth-child(5) {
        top: 74%;
        left: 37%;
        width: 24%;
    }
    #skills-page>section:first-child>div:nth-child(6) {
        height: 6px;
        width: 45px;
        top: 72%;
        left: 42.5%;
    }
    #skills-page>section:nth-child(2) {
        display: block;
        height: 65%;
    }
    #skills-page>section:nth-child(2)>.container{
        width: 75%;
        height: 300px;
        margin-top: 40px;
        background-color: #D9D9D9;
        box-shadow: none;
        border: none;
        border-radius: 0px 40px 0px 40px;
        left: 40px;
    }
    #skills-page>section:nth-child(2)>.container>.text-area {
        top: 33px;
    }
    #skills-page>section:nth-child(2)>.container>.header {
        padding-top: 35px;
    }
    main>section:nth-child(4)>div:nth-child(3) {
        background: #D9D9D9;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        column-gap: 12px;
        row-gap: 12px;
        width: 320px;
        position: relative;
        top: -30px;
    }
    main>section:nth-child(4)>div:nth-child(3)>div:nth-child(1){
        background: url("../images/skills/java.png");
        background-size: cover;
        background-position: center;
    }
    main>section:nth-child(4)>div:nth-child(3)>div:nth-child(2){
        background: url("../images/skills/mysql.png");
        background-size: cover;
        background-position: center;
    }
    main>section:nth-child(4)>div:nth-child(3)>div:nth-child(3){
        background: url("../images/skills/html.png");
        background-size: cover;
        background-position: center;
    }
    main>section:nth-child(4)>div:nth-child(3)>div:nth-child(4){
        background: url("../images/skills/css.png");
        background-size: cover;
        background-position: center;
    }
    main>section:nth-child(4)>div:nth-child(3)>div:nth-child(5){
        background: url("../images/skills/javasript.png");
        background-size: cover;
        background-position: center;
    }
    main>section:nth-child(4)>div:nth-child(3)>div:nth-child(6){
        background: url("../images/skills/bootsrap.png");
        background-size: cover;
        background-position: center;
    }
    main>section:nth-child(4)>div:nth-child(3)>div:nth-child(7){
        background: url("../images/skills/intellij.png");
        background-size: cover;
        background-position: center;
    }
    main>section:nth-child(4)>div:nth-child(3)>div:nth-child(8){
        background: url("../images/skills/figma.png");
        background-size: cover;
        background-position: center;
    }
    main>section:nth-child(4)>div:nth-child(3)>div:nth-child(9){
        background: url("../images/skills/wireframe.png");
        background-size: cover;
        background-position: center;
    }
    main>section:nth-child(4)>div:nth-child(3)>div:nth-child(10){
        background: url("../images/skills/visual studio code.png");
        background-size: cover;
        background-position: center;
    }
    main>section:nth-child(4)>div:nth-child(3)>div:nth-child(11){
        background: url("../images/skills/github.png");
        background-size: cover;
        background-position: center;
    }
    main>section:nth-child(4)>div:nth-child(3)>div:nth-child(12){
        background: url("../images/skills/slack.png");
        background-size: cover;
        background-position: center;
    }
}




/* mobile medium - [320px-375px] */
@media all and (min-width: 320px) and (max-width: 375px){

}
/* mobile large -  [375px-425px] */
@media all and (min-width: 375px) and (max-width: 425px){

}
/* tablet - [425px-768px] */
@media all and (min-width: 425px) and (max-width: 768px){

}
/* laptop - [768px-1024px] */
@media all and (min-width: 768px) and (max-width: 1024px){

}
/* laptop Large - [1024px-1440px] */
@media all and (min-width: 1024px) and (max-width: 1440px){

}
