/*full Skills Page*/
body>main>section:nth-child(4){
    border: 1px solid blue;
}
/*topic area for "Skills"*/
body>main>section:nth-child(4)>section:first-child{
    position: absolute;
    height: 15vh;
    width: 100vw;
    border: 1px solid chocolate;
}
/*blue color two side borders*/
body>main>section:nth-child(4)>section:first-child>div{
    position: absolute;
    width: 41%;
    height: 15%;
    background-color: #1F2234;
}
body>main>section:nth-child(4)>section:first-child>div:first-child{
    top: 0;
    left: 0;
}
body>main>section:nth-child(4)>section:first-child>div:nth-child(2){
    top: 0;
    right: 0;
}
/*"Skills"*/
body>main>section:nth-child(4)>section:first-child>h3{
    position: absolute;
    left: 45.6%;
    top: -40px;
    font-size: 1.85rem;
    font-family: 'Lato', sans-serif;
    color:black;
}
/*"Lets take a short"*/
body>main>section:nth-child(4)>section:first-child>h6{
    position: absolute;
    left: 45.6%;
    top: -5px;
    font-size: 0.92rem;
    font-family: 'Merriweather', serif;
    color: rgba(0, 0, 0, 0.7);
}
/*horizontal line*/
body>main>section:nth-child(4)>section:first-child>div:nth-child(5){
    position: absolute;
    height: 3%;
    width: 14%;
    background-color: #c4c4c4;
    top: 35%;
    left: 44%;
}
/*orange color box*/
body>main>section:nth-child(4)>section:first-child>div:nth-child(6){
    position: absolute;
    height: 8.5%;
    width: 7%;
    background-color: #fd9d3c;
    top: 32%;
    left: 47%;
}
